@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<test.Areas.Admin.Models.PaymentViewModel>

@{
    ViewData["Title"] = "Payment Status";
    ViewData["Navigation Title"] = "Payment Status";
}

<div class="row mt-5 g-3">
    <div class="col-12">
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                
                <div class="table-responsive mt-3 w-100">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Transaction ID</th>
                                <th>Borrower</th>   
                                <th>Reason</th>
                                <th>Amount</th>
                                <th>Method</th>
                                <th>Paid On</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TransactionID</td>
                                    <td>@item.BorrowerName</td> 
                                    <td>@item.Reason</td>
                                    <td>@($"PHP {item.Amount:N2}")</td>
                                    <td>
                                        @if (item.Method == "Unpaid")
                                        {
                                            <span class="badge bg-danger">Unpaid</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-success">@item.Method</span>
                                        }
                                    </td>
                                    <td>@item.PaidOn</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                    <div class="d-flex justify-content-end mt-3">
                        @Html.PagedListPager(Model, page => Url.Action("Payments"),
                                 new PagedListRenderOptions
                        {
                            LiElementClasses = new[] { "page-item", "custom-page-item" },
                            PageClasses = new[] { "page-link", "custom-page-link" }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>