@model X.PagedList.IPagedList<test.Areas.Admin.Models.TransactionViewModel>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Transactions";
    ViewData["Navigation Title"] = "Transactions";

    var selectedStatus = Context.Request.Query["statusFilter"].ToString();

}

<div class="row mt-5 g-3">
    <div class="col-12">
        <div class="row g-0">
            <div class="col-12 col-md-12 col-xl-12 mb-2 text-end align-items-center">
                <div class="d-flex justify-content-end h-100">
                    <a asp-controller="Lending" asp-action="Issue"
                            class="btn bg-color3 text-color4 px-3 border-0 d-flex justify-content-center align-items-center"
                       title="Issue book"
                            style="border-radius: 15px;">
                        <span class="ms-1 fw-bold">Issue Book</span>
                    </a>

                </div>
            </div>
        </div>
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                @await Html.PartialAsync("~/Views/Shared/Partials/_ToastNotification.cshtml")
               <form method="get" action="@Url.Action("TransactionsIndex")">
                    <div class="row align-items-center">              
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="input-group">
                                 <button type="submit" class="input-group-text bg-color3"><i class="ri-search-line"></i></button>
                                <input type="text" name="searchQuery" class="form-control" placeholder="Search by Borrower or Book" value="@Context.Request.Query["searchQuery"]">
                            </div>
                        </div>

                        <div class="col-md-3 mb-3 mb-md-0">
                            <select class="form-select" name="statusFilter">
                                <option value="">Sort by Status</option>
                                <option value="Completed" selected="@(selectedStatus == "Completed")">Completed</option>
                                <option value="Active" selected="@(selectedStatus == "Active")">Active</option>
                                <option value="Overdue" selected="@(selectedStatus == "Overdue")">Overdue</option>
                                <option value="Lost" selected="@(selectedStatus == "Lost")">Lost</option>
                                <option value="Damaged" selected="@(selectedStatus == "Damaged")">Damaged</option>
                            </select>
                        </div>
                        <div class="col-md-2 text-md-end">
                            <button type="submit" class="btn bg-color3 w-100 d-flex align-items-center justify-content-center">
                                <i class="ri-filter-line me-1"></i> Apply Filters
                            </button>  
                        </div>

                    </div>
                </form>

                <div class="table-responsive mt-3 w-100">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Borrower</th>
                                <th>Copy No. of Book</th>
                                <th>Lend Date</th>
                                <th>Due Date</th>
                                <th>Returned Date</th>
                                <th>Status</th>
                                <th>OR Number</th> <!-- NEW COLUMN -->
                                <th><i class="ri-settings-line"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                @foreach (var transaction in Model)
                                {
                                    <tr>
                                        <td>@transaction.Id</td>
                                        <td>@transaction.BorrowerName</td>
                                        <td><span>@transaction.CopyNumber</span> - @transaction.BookTitle</td>
                                        <td>@transaction.TransactionDate.ToString("MMMM dd, yyyy")</td>
                                        <td>@transaction.DueDate.ToString("MMMM dd, yyyy")</td>
                                        <td>@(transaction.ReturnDate?.ToString("MMMM dd, yyyy") ?? "Not Returned")</td>
                                        <td>
                                            <span class="badge @(transaction.Status switch
                                                  {
                                                      "Completed" => "bg-success",
                                                      "Active" => "bg-info",
                                                      "Overdue" => "bg-warning",
                                                      "Lost" => "bg-secondary",
                                                      "Damaged" => "bg-danger",
                                                      _ => "bg-primary"
                                                  })">
                                        @transaction.Status
                                    </span>
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(transaction.ORNumber))
                                            {
                                                <span class="text-success fw-bold">OR# @transaction.ORNumber</span>
                                            }
                                            else
                                            {
                                                <span class="text-muted">Awaiting OR</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn bg-white p-0 border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-2-fill"></i>
                                                </button>
                                                <ul class="dropdown-menu" style="cursor:pointer;">
                                                    @if (transaction.Status == "Active")
                                                    {
                                                        <li>
                                                            <a class="dropdown-item @(transaction.BookCopyStatus == "Borrowed" ? "" : "disabled")"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#returnBook-@transaction.Id">
                                                                Return
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item @(transaction.BookCopyStatus == "Borrowed" ? "" : "disabled")"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#renewBook-@transaction.Id">
                                                                Renew
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#markLost-@transaction.Id">
                                                                Mark as Lost
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#markDamaged-@transaction.Id">
                                                                Mark as Damaged
                                                            </a>
                                                        </li>
                                                    }
                                                    @if (transaction.Status == "Lost" || transaction.Status == "Damaged")
                                                    {
                                                        <li>
                                                            <a class="dropdown-item"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#showPenalty-@transaction.Id">
                                                                Show Penalty Fees
                                                            </a>
                                                        </li>
                                                    }
                                                    @if (transaction.Status == "Completed")
                                                    {
                                                        <li>
                                                            <a class="dropdown-item" asp-area="Admin" asp-controller="Lending" asp-action="TransactionDetails" asp-route-transactionId="@transaction.Id">
                                                                View Details
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" asp-area="Admin" asp-controller="Report" asp-action="ExportToPdf" asp-route-transactionId="@transaction.Id">
                                                                Export to PDF
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" class="text-center text-muted">No transactions found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-end mt-3">
                        @Html.PagedListPager(Model, page => Url.Action("TransactionsIndex", new
                            {
                                page,
                                searchQuery = Context.Request.Query["searchQuery"],
                                statusFilter = Context.Request.Query["statusFilter"]
                            }),
                                 new PagedListRenderOptions
                        {
                            LiElementClasses = new[] { "page-item", "custom-page-item" },
                            PageClasses = new[] { "page-link", "custom-page-link" }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Areas/Admin/Views/Lending/Modals/Return.cshtml")
@await Html.PartialAsync("~/Areas/Admin/Views/Lending/Modals/Renew.cshtml")
@await Html.PartialAsync("~/Areas/Admin/Views/Lending/Modals/MarkLost.cshtml")
@await Html.PartialAsync("~/Areas/Admin/Views/Lending/Modals/MarkDamaged.cshtml")
@await Html.PartialAsync("~/Areas/Admin/Views/Lending/Modals/ShowPenalty.cshtml")
