@foreach (var overdue in Model)
{
    <div class="modal fade" id="returnAndPayFine-@overdue.Id" tabindex="-1" aria-labelledby="returnAndPayFine" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnAndPayFine">Return Book & Pay Fine</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-controller="Lending" asp-action="ReturnAndPayFine">
                    <div class="modal-body">
                        <input type="hidden" name="Id" value="@overdue.Id" />
                        <input type="hidden" name="TransactionID" value="@overdue.TransactionID" />
                        <p>
                            The book <strong>@overdue.BookTitle</strong> borrowed by <strong>@overdue.BorrowerName</strong> is being returned.
                        </p>
                        <p>
                            This book is <strong>@overdue.OverdueDays</strong> days overdue, and a fine of <strong>@overdue.FineAmount.ToString("C")</strong> will be applied.
                        </p>
                        <p>
                            Once confirmed, this transaction will be marked as returned, and the overdue fine will be recorded as paid.
                        </p>
                        <p>Do you want to proceed?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a asp-controller="Lending" asp-action="PayFees" asp-area="Admin" asp-route-transactionId="@overdue.TransactionID" class="btn bg-color3 fw-bold">Proceed to Payment</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
