@model X.PagedList.IPagedList<test.Models.TransactionViewModel>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "My Borrowed Books";
}

<div class="container mt-3">
    <div class="row gx-5">
        <div class="col-12 col-md-6 col-lg-4">
            @await Html.PartialAsync("~/Views/Shared/Partials/_Sidebar.cshtml")

        </div>

        <div class="col-12 col-md-6 col-lg-8">
            <div class="p-3 bg-white rounded-3">
                <h3 class="text-color4">My Borrowed Books</h3>
            </div>
            @if (Model != null && Model.Any())
            {
            <div class="row mt-3 gx-3">
                @foreach (var transaction in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="card">
                            <img src="~/@transaction.BookCopy.Book.CoverImage" class="card-img-top" style="height: 15rem;" alt="@transaction.BookCopy.Book.Title">
                            <div class="card-body">
                                <h5 class="card-title">@transaction.BookCopy.Book.Title</h5>
                                <p class="card-text">by @transaction.BookCopy.Book.AuthorName</p>
                                <a asp-action="Details" asp-route-id="@transaction.Id" class="btn btn-sm bg-color3">View Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-end mt-3">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchQuery = Context.Request.Query["searchQuery"] }),
                            new PagedListRenderOptions
            {
                LiElementClasses = new[] { "page-item", "custom-page-item" },
                PageClasses = new[] { "page-link", "custom-page-link" }
            })
            </div>
            }
            else
            {
                <div class="mt-4 p-3 bg-light text-center">
                    <h5 class="text-muted">No borrowed books found.</h5>
                </div>
            }
           
        </div>
    </div>
</div>
