@using System.Security.Claims

@if (Context.User.Identity.IsAuthenticated)
{
    <nav class="navbar" id="navbar">
        <div class="d-flex align-items-center">
            <button class="toggle-btn" type="button">
                <i class="ri-menu-line"></i>
                <h2 class="mx-2">@ViewData["Navigation Title"]</h2>
            </button>
        </div>

        <div class="ms-auto d-flex align-items-center">
            <div class="dropdown">
                @* <a class="btn d-flex align-items-center border-0" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ri-notification-3-line"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                    <li><a class="dropdown-item" href="#">No new notifications</a></li>
                </ul> *@
            </div>
            <div class="dropdown">
                <a class="btn bg-color1 d-flex align-items-center border-0" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/images/logo/user.png" alt="Profile" class="rounded-circle me-2" width="20" height="20" />
                        <span class="d-none d-md-inline">@Context.User.Identity.Name</span>
                    <i class="ri-arrow-down-s-line ms-1"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li>
                       <span class="dropdown-item-text d-md-none fw-bold">@Context.User.Identity.Name</span>
                    </li>
                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="Profile" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Profile</a></li>
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-tab="settings">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form id="logout-form" method="post" asp-action="Logout" asp-controller="Auth">
                            <button type="submit" class="dropdown-item text-color4">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}