@model test.Areas.Admin.Models.BookViewModel

@{
    ViewData["Title"] = "Add New Book";
    ViewData["Navigation Title"] = "Add New Book";
}

<div class="row mt-5 g-3">
   
    <div class="col-12">
        <div class="card border-0 shadow-sm h-100 overflow-auto">
            <form asp-action="CreateBook" method="post" enctype="multipart/form-data">
                <div class="card-body">

                    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Partials/_ToastNotification.cshtml")

                    <div class="row">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb text-color4">
                                <li class="breadcrumb-item"><a asp-controller="Book" asp-action="Index" class="text-color3 fw-bold">Books</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add New Book</li>
                            </ol>
                        </nav>
                        <hr />
                        <!--Book-->
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                            <span class="fw-bold">Book</span>
                        </div>
                        <div class="col-12 col-sm-9 col-md-9 col-lg-10">
                            <div class="row">
                                <div class="col">
                                    <label>Title</label>
                                    <input asp-for="Title" type="text" class="form-control" aria-label="Title" placeholder="Title">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label>Description</label>
                                    <textarea asp-for="Description" type="text" rows="1" class="form-control" aria-label="Description" placeholder="Description"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label>ISBN</label>
                                    <input asp-for="ISBN" type="text" class="form-control" aria-label="ISBN" placeholder="ISBN">
                                    <span asp-validation-for="ISBN" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label>Publication Year</label>
                                    <input asp-for="PublicationYear" type="number" class="form-control" aria-label="Year Published"
                                           min="1900" max="2099" step="1" placeholder="Publication Year">
                                    <span asp-validation-for="PublicationYear" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="mt-3">
                                <label>Genre</label>
                                <select id="genreDropdown" class="form-select" asp-for="SelectedGenreId">
                                    <option value="" selected disabled>Select Genre</option>
                                    @foreach (var genre in Model.Genres)
                                    {
                                        <option value="@genre.Id">@genre.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Genres" class="text-danger"></span>

                            </div>
 
                            <div class="mt-3">
                                <label for="formFile" class="form-label">Upload cover image</label>
                                <input asp-for="CoverImage" class="form-control" type="file" id="formFile">
                                <span asp-validation-for="CoverImage" class="text-danger"></span>

                            </div>

                        </div>
                    </div>

                    <hr />

                    <!--Author-->
                    <div class="row mt-3">
                        <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                            <span class="fw-bold">Author</span>
                        </div>
                        <div class="col-12 col-sm-9 col-md-9 col-lg-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="authorOption" id="existingAuthorRadio" value="existing" onclick="toggleAuthorInput('existing')" checked>
                                <label class="form-check-label" for="existingAuthorRadio">Existing</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="authorOption" id="newAuthorRadio" value="new" onclick="toggleAuthorInput('new')">
                                <label class="form-check-label" for="newAuthorRadio">New</label>
                            </div>

                            <div id="existingauthorDiv" class="mt-2">
                                <select id="authorDropdown" class="form-select" asp-for="SelectedAuthorId">
                                    <option value="" selected disabled>Select Author</option>
                                    @foreach (var author in Model.Authors)
                                    {
                                        <option value="@author.Id">@author.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Authors" class="text-danger"></span>
                            </div>

                            <div id="newauthorDiv" class="mt-2" style="display:none;">
                                <label for="newAuthorName" class="form-label">Name</label>
                                <input asp-for="AuthorName" type="text" id="newAuthorName" class="form-control" placeholder="Enter author's name" aria-label="Name">
                                <span asp-validation-for="AuthorName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <!--Publisher-->
                    <div class="row mt-3">
                        <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                            <span class="fw-bold">Publisher</span>
                        </div>
                        <div class="col-12 col-sm-9 col-md-9 col-lg-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="publisherOption" id="existingPublisherRadio" value="existing" onclick="togglePublisherInput('existing')" checked>
                                <label class="form-check-label" for="existingPublisherRadio">Existing</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="publisherOption" id="newPublisherRadio" value="new" onclick="togglePublisherInput('new')">
                                <label class="form-check-label" for="newPublisherRadio">New</label>
                            </div>

                            <div id="existingpublisherDiv" class="mt-2">
                                <select id="publisherDropdown" class="form-select" asp-for="SelectedPublisherId">
                                    <option value="" selected disabled>Select Publisher</option>
                                    @foreach (var publisher in Model.Publishers)
                                    {
                                        <option value="@publisher.Id">@publisher.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Publishers" class="text-danger"></span>
                            </div>

                            <div id="newpublisherDiv" class="mt-2" style="display:none;">
                                <div class="row">
                                    <div class="col">
                                        <label for="newPublisherName" class="form-label">Name</label>
                                        <input asp-for="PublisherName" type="text" id="newPublisherName" class="form-control" placeholder="Enter new publisher's name" aria-label="Name">
                                        <span asp-validation-for="PublisherName" class="text-danger"></span>
                                    </div>
                                    <div class="col mt-2">
                                        <label>Address</label>
                                        <input asp-for="PublisherAddress" type="text" class="form-control" aria-label="Address">
                                        <span asp-validation-for="PublisherAddress" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Contact Number</label>
                                        <input asp-for="PublisherContact" type="text" class="form-control" aria-label="Contact Number">
                                        <span asp-validation-for="PublisherContact" class="text-danger"></span>

                                    </div>
                                    <div class="col">
                                        <label>Email</label>
                                        <input asp-for ="PublisherEmail" type="email" class="form-control" aria-label="Email">
                                        <span asp-validation-for="PublisherEmail" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <!--Book Copies-->
                     <div class="row mt-3">
                         <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                             <label for="totalCopies" class="form-label fw-bold">Book Copies</label>
                         </div>
                         <div class="col-12 col-sm-9 col-md-9 col-lg-10">
                             <input asp-for="BookCopies" type="number" id="totalCopies" class="form-control" placeholder="Enter copies" aria-label="Book Copies" required>
                            <span asp-validation-for="BookCopies" class="text-danger"></span>
                         </div>
                     </div>
                   

                    <hr />

                    <div class="row mt-3">
                        <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                        </div>
                        <div class="col-12 col-sm-9 col-md-9 col-lg-10">
                            <div class="d-flex align-items-center justify-content-start">
                                <a asp-controller="Book" asp-action="Index" class="btn bg-color1 me-2 px-3">Cancel</a>
                                <button type="submit" class="btn bg-color3 fw-bold px-5">Add Book</button>

                            </div>
                        </div>
                    </div>
                </div>
           </form>
        </div>
    </div>
</div>
<script>
    function toggleAuthorInput(option) {
        if (option === 'existing') {
            document.getElementById('existingauthorDiv').style.display = 'block';
            document.getElementById('newauthorDiv').style.display = 'none';
        } else {
            document.getElementById('existingauthorDiv').style.display = 'none';
            document.getElementById('newauthorDiv').style.display = 'block';
        }
    }

    function togglePublisherInput(option) {
        if (option === 'existing') {
            document.getElementById('existingpublisherDiv').style.display = 'block';
            document.getElementById('newpublisherDiv').style.display = 'none';
        } else {
            document.getElementById('existingpublisherDiv').style.display = 'none';
            document.getElementById('newpublisherDiv').style.display = 'block';
        }
    }
</script>